.on-btn {
    background-color: aquamarine;
}

.off-btn {
    background-color: papayawhip;
}

.on-btn-del {
    background-color: red;
}

.off-btn-del {
    background-color: white;
}

.list-li {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

button {
    margin: 1rem;
}

:focus {
    outline: 3px solid blue;
    padding: 0.25rem;
}
