.on-btn {
    background-color: rgb(20, 255, 177);
}

.off-btn {
    background-color: rgb(255, 187, 0);
}

.on-btn-del {
    background-color: rgb(255, 131, 131);
}

.off-btn-del {
    background-color: white;
}

.list-li {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

button {
    margin: 1rem;
    padding: 0.25rem;
    border-radius: 20px;
}

:focus {
    outline: 3px solid blue;
    padding: 0.25rem;
}

ol {
    list-style-type: none;
}
