.on-btn {
    background-color: white;
    color: black;
}

.off-btn {
    background-color: black;
    color: white;
}

.on-btn-del {
    background-color: black;
    color: white;
}

.off-btn-del {
    background-color: white;
}

.list-li {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}

button {
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

:focus {
    outline: 3px solid blue;
    padding: 0.25rem;
}

ol {
    list-style-type: none;
}
