li {
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

:focus {
    outline: 3px solid blue;
    padding: 0.25rem;
}
