button {
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}

label {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

input {
    margin: 1rem;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
}
